/* google font Karla import */
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Karla;
    font-weight: bold;
}


nav{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

nav::before{
    content: "";
    position: absolute;
    background-color: #1E1E1E;
    width: 100%;
    height: 100%;
    z-index: -1; /*content comes above the before tag*/
}

a{
    text-decoration: none;
    padding: 10px 38px;
    font-size: 19px;
    color: white;
}

a:hover{
    background-color: white;
    color: red;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 19px;
}

#logo{
    color: white;
    font-size: 31px;
    padding: 10px 38px;
    cursor: pointer;
}

section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 195px 0px;
    align-items: center;
    justify-content: center;
}

section::before{
    content: "";
    position: absolute;
    background-image: url(images/bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#welcome, #welcome-text{
    padding-left: 60%;
    color: white;
    font-size: 30px;
}


#order{
    margin-left: 60%;
    padding: 6px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
}

#order:hover{
    background-color: red;
    color: white;
}

/* container css */
.container{
    display: flex;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10px;
    text-align: center;
    background-color: #1E1E1E;
}

.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #eb2121;
    color: white;
    line-height: 30px;
}

.food{
    width:50%;
    height:50%;
    border-radius: 10px;
}

#services{
    width: 100%;
    background-color: #1E1E1E;
    text-align: center;
    color: white;
    font-size: 50px;
}

.text{
    font-size: 30px;
    padding: 10px;
}

.food-heading{
    font-size: 40px;
    padding: 10px;
}

.reply{
    width: 100%;
    height: 10%;
    padding: 10px 10px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#me{
    width: 100%;
    background-color: #1E1E1E;
    color: white;
    font-size: 20px;
}

img{
    width: 30px;
    height: 30px;
}


/* media queries */
@media screen and (min-width: 530px) and (max-width:850px){
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section{
        width: 100%;
        height: 30px;
        padding: 30%;
        flex-direction: row;
        line-height: 10%;
    }

    #welcome,#welcome-text{
        visibility: hidden;
    }

    #order{
        position: absolute;
        float: right;
        background-color: #eb2121;
        color: white;
    }
}

@media screen and (max-width:540px){
    nav{
        justify-content: center;
    }

    a{
        padding: 10px;
    }

    section{
        width: 100%;
        height: 10%;
        padding: 0px;
        margin: 0px;
        overflow-x: hidden;
    }

    #welcome,#welcome-text{
        visibility: hidden;
    }

    #order{
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 5px;
        position:absolute;
        background-color: #eb2121;
        color: white;
    }
   

}