*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.box{
	background: brown;
	border: 2px solid black;
	border-radius: 4px;
	color: white;
	height: 400px;
	width: 400px;

	display: flex;
	justify-content: center;
	align-items: center;

	/*for animation like effect*/
	transition: all 1s ease-in-out;
}

.box:hover{
	/*transform: rotate(360deg);*/
	/*transform: skew(30deg);*/
	/*transform: scale(1.5);*/
	/*transform: translate(20%);*/
	transform: translate(20%,20%);
}

.container{
	background: wheat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}